#header {
    text-align:center;
    padding:5px;
}
#header > img{
    padding:5px;
}
#section {
    width:100%;
    float:left;
    padding:10px;
}
#container{
    width: 100%;
}
#expression{
    float: left;
    width: 40%;
    display: inline;
}
#form {
    float: right;
    width: 60%;
    display: inline;
}

#parent{
    width: 100%;
    text-align: center;
}
#expected{
    text-align: center;
    display: inline-block;
}