html {
  font-family: "Arial"
}

#header {
    text-align:center;
}

#section {
    width:100%;
    float:left;
}
#container{
    width: 100%;
}
#expression{
    width:400px;
    float:left;
    display: inline;
    margin-bottom: 20px;
    text-align: center;
}
#form {
    width: calc(100% - 500px);
    min-width: 400px;
    float:left;
    display: inline;
}

#parent{
    width: 100%;
    text-align: center;
}
#expected{
    text-align: center;
    display: inline-block;
}

.validation {
  display : "inline-block";
  paddingLeft : "10px";
}

.invalidinput {
  color : red;
}


.validinput {
  color : green;
}
