html {
  font-family: "Arial"
}

#header {
    text-align:center;
    padding:5px;
}
#header > img{
    padding:5px;
}
#section {
    width:100%;
    float:left;
    padding:10px;
}
#container{
    width: 100%;
}
#expression{
    width:400px;
    float:left;
    display: inline;
    margin-bottom: 20px;
}
#form {
    width: calc(100% - 500px);
    min-width: 400px;
    float:left;
    display: inline;
}

#parent{
    width: 100%;
    text-align: center;
}
#expected{
    text-align: center;
    display: inline-block;
}
