#header {
    text-align:center;
    padding:5px;
}
#header > img{
    padding:5px;
}
#section {
    width:100%;
    float:left;
    padding:10px;
}
#container{
    width: 100%;
}

#sentence{
    width: 100%;
    text-align: center;
    font-size: x-large;

}
paper-input{
    display: inline-block;
}

#sentence paper-input{
    width: 40px;
}

